<!DOCTYPE html>
<html>
    <!-- The navbar for the site. -->
<head>
        <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
        <!-- Utilizes a more lite version of TailwindCSS -->
</head>
  <body>
  <nav class="bg-gray-800">
    <div class="flex items-center justify-between h-16">

      <div class="flex-1 flex items-center justify-center sm:items-stretch">

          <div class="flex space-x-4">
            <a href="{{ url_for('home') }}" class="text-blue-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>

            <a href="{{ url_for('staticvideos') }}" class="text-blue-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Static Video</a>

            <a href="{{ url_for('livestreaming') }}" class="text-blue-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Live Stream</a>


            <a href="{{ url_for('logout') }}" class="text-blue-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</a>
          </div>

      </div>

    </div>


</nav>
      <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>