<!DOCTYPE html>
<html>
    <!-- Hosts the static videos for the user to watch. -->
<head>
        <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
        <!-- Utilizes a more lite version of TailwindCSS -->
</head>
<body class="bg-gray-400">
{% extends "layout.html" %}
{% block content %}
</div>
<div class="content-center">
<h1 class="text-center text-xl">CNT Static Videos</h1>
<p class="text-center">Hi, this is where the static videos are stashed</p>
    <br>

    <p class="text-center">Here is a video showing how the livestream works.</p>

    <video style="display:block; margin: 0 auto;" width="600" height="240" controls>
        <source src="/static/tutorial.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    </br>
<p class="text-center">Here is a 30 second clip as an example.</p>

    <video style="display:block; margin: 0 auto;" width="600" height="240" controls>
        <source src="/static/Video.MP4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
{% endblock %}
</body>
</html>